# Environment variables — never commit this
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.venv/

# Django
*.log
local_settings.py
db.sqlite3
staticfiles/
media/

# IDEs
.vscode/
.idea/
*.swp